<h1>{{ 'email.credentials_and_invitation_email.mainHeader' | trans }}</h1>

<p>{{ 'email.credentials_and_invitation_email.login' | trans }}: {{ login }}</p>
<p>{{ 'email.credentials_and_invitation_email.plainPassword' | trans }}: {{ plainPassword }}</p>